{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} La liste des films de filmilou !! {% endblock %}</h1>
    <br>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Noms</th>
                    <th scope="col">Genres</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for i in movies_list: %}
                  <tr>
                    <th scope="row">{{ i['movie_id'] + 1 }}</th>
                    <td>{{ i['nom'] }}</td>
                    <td>{{ i['genre'] }}</td>
                    <td> <a href="/edit/{{ i['movie_id'] }}" class="btn btn-warning">Modifier</a> <a href="/delete/{{ i['movie_id'] }}" class="btn btn-danger">Supprimer</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}